.App {
  /* text-align: center; */
}

/**
* Classname used to center element.
*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.hero {
  display: flex;
  background: white;
  flex-direction: column;
  margin: 20px 0 20px 0;
  /* padding: 30px; */
  position: relative;
  border: solid rgb(235, 234, 234) 2px;
  width: 600px;
  word-wrap: break-word;
  overflow: scroll;
  padding: 20px;
}

.center-text {
  text-align: center;
}

.stats {
  padding-bottom: 10px;
}

.split {
  /* display: flex; */
}
