.App {
  text-align: center;
}

a {
  padding: 15px;
}

/* 
Classname used for the main component. 
*/
.screen {
  background: palegoldenrod;
  height: calc(100vh - 50px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: whitesmoke;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav p {
  margin: 0;
}

.screen p {
  margin: 0;
}
